@tailwind base;
@tailwind components;
@tailwind utilities;

@variants responsive {
  .masonry {
      column-gap: 1.5em;
      column-count: 1;
  }
  .masonry-sm {
      column-gap: 1.5em;
      column-count: 2;
  }
  .masonry-md {
      column-gap: 1.5em;
      column-count: 3;
  }
  .break-inside {
      break-inside: avoid;
  }

}

:root{
    --primary-color: #6317A7;
    --secondary-color: #ED4E94;
    --text-color: #343434;
    --link-color: #6317A7;
    --heading-color: #343434;
    --yellow-color: #FBBB0B;
}

ion-scroll[direction=y] {
  height: 100vh;
}

/*=========================================================
HEADER CSS
=========================================================*/

.logo{
    width: 120px;
}
.custom-navbar a {
    color: var(--text-color);
}
.custom-navbar button span{
    color: var(--text-color);
}
input:checked + div {
  @apply border-blue-500;
}
input:checked + div svg {
  @apply block;
}
a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}
.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


/*===================================================
HEADER BADGES CSS
===================================================*/

.header-badges-wrap span {
  background-color: #ECEFF4;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0px 2px 0px rgb(0 0 0 / 16%);
}
.header-badges-wrap span svg {
  width: 15px;
  margin-left: 5px;
}

.mobmenu-icon svg {
  width: 40px;
}

.sort-filter-item{
  margin-right: 10px
}
.sort-filter-item span {
  font-size: 14px;
}
.sort-filter-item p {
  font-size: 14px;
  display: flex;
}
.sort-filter-item svg {
  width: 15px;
  margin-left: 5px
}

/*======================================================
HERO SECTION CSSS
======================================================*/

.hero-section {
  background-color: #A020F0;
  background-image: url('/resources/home-page/Group\ 1334.png');
  background-position: center;
}
.hero-content-wrap {}
.hero-content-wrap h1{
    font-size: 36px;
}
.hero-content-wrap p{}